.wrapper { max-width: 40em; margin: 0 auto;}
.testbox {
    padding: 6px 10px;
    margin: 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.testbox__success { border-left-color: #5cb85c; background-color: #dff0d8; }
.testbox__error { border-left-color: #d9534f; background-color: #f2dede; }